<%- include("header"); %>
<h2 style="text-align: center">ToDoList By Subodh</h2>
<p style="text-align: center">This is a simple ToDoList web app made using JS, NodeJS with ExpressJS and EJS.</p>
<%- include("footer"); %>