<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<!--
    <% if(kindOfday === "Saturday" || kindOfday === "Sunday"){ %>
    <h1 style="color: purple">It's a <%= kindOfday %> List</h1>
    <% } else { %>
        <h1 style="color: blue"><%= kindOfday %> ToDo List</h1>
    <% } %>
-->
<div class="box" id="heading">
    <h1><%= kindOfday %></h1>
</div>

<div class="box">
    <%  for(let i = 0; i < newListItems.length; i++) { %>
        <div class="item">
            <input type="checkbox">
            <p><%= newListItems[i] %></p>
        </div>
    <% } %>

    <form class="item" action="/" method="POST">
        <input type="text" name="newItem" placeholder="Enter next Todolist" autocomplete="off">
        <button type="submit" name="button">+</button>
    </form>

</div>



</body>
</html>